.featured-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .blog-summary {
    border-bottom: none;
    @include breakpoint(md) {
      width: 28%;
      margin: 1rem;
    }
    &__link {
      color: $lightBlue;
      &:hover,
      &:focus {
        color: $lightBlue;
      }
    }
    &__content {
      margin: 0;
      padding-bottom: 4rem;
    }
  }
}
.blog-summary {
  margin: 1rem 0;
  width: 100%;
  border-bottom: 1px solid $lightBlue;
  @include breakpoint(sm) {
    width: 45%;
    margin: 1rem;
  }
  @include breakpoint(md) {
    width: 100%;
    margin: 2rem;
  }
  &__link {
    text-decoration: none;
    h3 {
      transition: 0.3s ease-out;
    }
    &:hover,
    &:focus {
      color: $white;
      h3 {
        color: $white;
      }
      .blog-summary__read-more {
        svg {
          fill: $white;
          transform: translateX(5px);
        }
      }
      .blog-summary__img {
        opacity: 0.7;
      }
    }
  }
  &__image-wrap {
    margin-bottom: 2rem;
  }
  &__img {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    object-fit: cover;
    height: 100%;
    max-height: 200px;
    min-height: 200px;
  }
  &__content {
    @include breakpoint(md) {
      position: relative;
      height: 100%;
      margin-left: 2rem;
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__entry-meta {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    transition: 0.3s ease-out;
  }
  &__summary {
    transition: 0.3s ease-out;
  }
  &__read-more {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    svg {
      fill: $lightBlue;
      width: 20px;
      margin-left: 5px;
      transition: 0.3s ease-out;
    }
  }
}
