.footer {
    background-color: $darkestBlue;
    padding: 2em;
    .footer-nav-list {
        position: relative;
        display: flex;
        .footer-nav-item {
            opacity: 1;
            padding: 1em;
        }
    }
}