.site-header {
  background-color: $darkestBlue;
  width: 90%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}
.brand-logo {
  opacity: 0;
}
.nav-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: $darkestBlue;
  transform: translateX(120%);
  transition: .3s ease-in-out;
  @include breakpoint(lg) {
    display: flex;
    flex-direction: row;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
  }
}
.nav-open {
  transform: translateX(0);
}
.nav-list-item {
  list-style-type: none;
}
.nav-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $lightGrey;
  padding: .5em;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(-20px);
  &::before, &::after {
    position: absolute;
    top: 15%;
    opacity: 0;
    color: $lightBlue;
    transition: .2s ease-in-out;
    @include breakpoint (lg) {
      top: 25%;
    }
  }
  &::before {
    content: "< ";
    left: -5px;
    @include breakpoint (lg) {
      left: 0;
    }
  }
  &::after {
    content: " />";
    right: -15px;
    @include breakpoint (lg) {
      right: 0;
    }
  }
  &:hover {
    &::before, &::after {
      opacity: 1;
    }
  }
  @include breakpoint (lg) {
    padding: 1em;
  }
}
.current {
  &::before, &::after {
    position: absolute;
    top: 15%;
    color: $lightBlue;
    opacity: 1;
    @include breakpoint (lg) {
      top: 25%;
    }
  }
  &::before {
    content: "< ";
    left: -5px;
    @include breakpoint (lg) {
      left: 0;
    }
  }
  &::after {
    content: " />";
    right: -15px;
    @include breakpoint (lg) {
      right: 0;
    }
  }
}
.menu-button-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  @include breakpoint(lg) {
    display: none;
  }
}
.mobile-menu-label {
  margin-top: -10px;
}
.mobile-menu-wrapper {
  transform: translateY(-100%);
  @include breakpoint (lg) {
    display: none;
  }
}
