<footer id="footer" class="site-footer">
  <div class="container-wide-right footer">
    <nav class="primary-nav">
      <div class="logo-wrapper">
        <a class="brand-logo" href="{{ site.BaseURL }}">
          <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" />
        </a>
      </div>
      {{ with .Site.Menus.main }}
      <ul class="footer-nav-list">
          {{ range . }}
          <li class="nav-list-item">
            <a class="nav-item" class="footer-nav-item" href="{{ .URL }}" aria-label="{{ .Name }}"
              title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li class="nav-list-item">
            <a href="/resume/" class="footer-nav-item">Resume</a>
          </li>
        </ul>
      {{ end }}
    </nav>
  </div>
</footer>
<span class="rotated-title">Front-End Developer/Web Designer</span>
<div class="progress-container">
  <div class="progress-bar"></div>
</div>
{{ partial "scripts" . }}