<a class="screen-reader-skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
<a class="screen-reader-skip-to-content" href="#footer" tabindex="0">Skip to footer content</a>
<header class="site-header">
  <nav class="primary-nav">
    <div class="logo-wrapper">
      <a class="brand-logo" href="{{ site.BaseURL }}">
        <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" />
      </a>
    </div>
    <ul class="nav-list">
      {{ $url := .RelPermalink }}
      {{ range site.Menus.Main }}
      {{ $active := eq $url .URL }}
      <li class="nav-list-item">
        <a {{if $active }}class="current nav-item" {{end}} class="nav-item" href="{{ .URL }}"
          title="{{ .Title }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    <div class="menu-button-wrap" aria-label="mobile menu toggle button" tabindex="0">
      <span class="mobile-menu-label">Menu</span>
      <button class="hamburger hamburger--slider" type="button" aria-haspopup="true" aria-label="Mobile menu button"
        aria-expanded="false">
        <span class="hamburger-box" role="menu-toggle">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </nav>
</header>