<section class="featured-work">
    <h2 class="parallax-title parallax-2">Featured Projects</h2>
    <div class="container-wide-right">
        <h3 class="g1">Featured Projects</h3>
    </div>
    <div class="swiper-container">
        <div class="slider-navigation">
            <!-- Add Pagination Buttons-->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <div class="background-image">
                        <img src="/images/background-1.jpg" alt="">
                    </div>
                    <div class="featured-project">
                        <h4 class="project-title">Project Title 1</h4>
                        <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="background-image">
                        <img src="/images/background-2.jpg" alt="">
                    </div>
                    <div class="featured-project">
                        <h4 class="project-title">Project Title 2</h4>
                        <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="background-image">
                        <img src="/images/background-3.jpg" alt="">
                    </div>
                    <div class="featured-project">
                        <h4 class="project-title">Project Title 3</h4>
                        <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="background-image">
                        <img src="/images/background-4.jpg" alt="">
                    </div>
                    <div class="featured-project">
                        <h4 class="project-title">Project Title 4</h4>
                        <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="background-image">
                        <img src="/images/background-1.jpg" alt="">
                    </div>
                    <div class="featured-project">
                        <h4 class="project-title">Project Title 5</h4>
                        <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="background-image">
                        <img src="/images/background-2.jpg" alt="">
                    </div>
                    <div class="featured-project">
                        <h4 class="project-title">Project Title 6</h4>
                        <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="text-center margin-top-1">
            <a href="/work" class="btn btn-primary">
                View Web Design Work
            </a>
        </div>
    </div>
</section>