<section class="testimonials">
    {{ with .Params.testimonials }}
    <h2 class="parallax-title parallax-3">{{ .heading }}</h2>
    <div class="container-wide">
        <h3 class="g1">{{ .heading }}</h3>
        <div class="testimonial-wrapper flex flex-column flex-row-l">
            {{ range .testimonial }}
            <div class="testimonial">
                {{ partial "svg-icons/quote" . }}
                <p>{{ .copy }}</p>
                <div class="testimonial-inner">
                    <div>
                        <h4 class="testimonial-author text-blue no-margin">{{ .author }}</h4>
                        <span class="testimonial-position">{{ .title }}</span>
                    </div>
                    <!-- <span class="image-placeholder">
                        <img src="/images/{{ .image }}.jpg" alt="">
                    </span> -->
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</section>