<section class="testimonials">
    <h2 class="parallax-title parallax-3">Testimonials</h2>
    <div class="container-wide">
        <h3 class="g1">Testimonials</h3>
        <div class="testimonial-wrapper flex flex-column flex-row-l">
            <div class="testimonial">
                {{ partial "svg-icons/quote" . }}
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti laborum iusto quia repellat,
                    assumenda consectetur! Voluptatum minima exercitationem eaque molestias.</p>
                <div class="testimonial-inner">
                    <div>
                        <h4 class="testimonial-author text-blue no-margin">Author</h4>
                        <span class="testimonial-position">Job Position</span>
                    </div>
                    <span class="image-placeholder"></span>
                </div>
            </div>
            <div class="testimonial">
                {{ partial "svg-icons/quote" . }}
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti laborum iusto quia repellat,
                    assumenda consectetur! Voluptatum minima exercitationem eaque molestias.</p>
                <div class="testimonial-inner">
                    <div>
                        <h4 class="testimonial-author text-blue no-margin">Author</h4>
                        <span class="testimonial-position">Job Position</span>
                    </div>
                    <span class="image-placeholder"></span>
                </div>
            </div>
        </div>
    </div>
</section>