<section class="intro-section">
    <div class="blue-background"></div>
    <div class="container-wide-right">
        <div class="text-block">
            <h2 class="parallax-title parallax-1">Front-End Developer/Web Designer</h2>
            <h3 class="g1">Intro Heading</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quae error nobis autem aliquam cupiditate
            iure
            ullam, distinctio earum sequi similique sit. Corporis ad exercitationem, voluptate tempora quod saepe
            omnis?
        </div>
    </div>
</section>